
/*Sessão geral do Sobre*/

.abaut{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;
}

/*Barra divisoria*/

.warraper-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-bottom: 60px;
    margin: 0 15px 60px 15px;
}

.bar-max{
    width: 80%;
    height: 15px;
    background-color: black;
    border-radius: 5px;
}

.bar{
    display: flex;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
}

/*Imagem de fundo de uma parte*/

.back-abaut-one{
    width: 50%;
    height: 500px;
    background-color: black;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.back-abaut{
    width: 400px;
    height: 400px;

    background-image: url(../assets/Logos/vr-white.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.h1-abaut{
    font-size: x-large;
    color: black;
    text-align: center;
    font-weight: 400;
}

.h2-abaut{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
}

.h2-alternative{
    color: black;
    font-weight: 600;
    padding: 2px;
    border-bottom: 1px solid black;
}

.p-abaut{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 70px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: lighter;
}

article{
    align-items: center;
    min-width: 50%;
    height: auto;  
}

.description-abaut{
    max-width: 600px;
    margin: 40px;  
    padding: 5px;
    text-align: justify;
}

.p-description-abaut{
    font-size: 18px;
    font-weight: 600;
}

/*#474646*/
@media (max-width: 720px) {

    .abaut{
        flex-direction: column;
        align-items: start;
    }

    .back-abaut-one{
        min-width: 100%;
        margin-bottom: 30px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10rem;
        border-bottom-right-radius: 10rem;
    }

    .back-abaut{
        width: 300px;
        height: 300px;
    }

    .p-abaut{
        margin-bottom: 30px;
    }

    .p-description-abaut{
        font-size: 16px;
    }
    
}