.header{
    width: 100%;
    height: 520px; 
    
    background-image: url(../assets/Fundos/back-abaut.jpeg);
    background-position: 0px -300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.back-header{
    width: 100%;
    height: 520px;
    border: 0;
    padding: 20px;
    /*background-color: #000000c4;*/
}

.Logo{
    width: 300px;
    height: 300px;
    
    /*background-image: url(../assets/Logos/vr-white.png);*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p-header{
    font-weight: lighter;
    min-width: 60%;
    margin-bottom: 50px;
    color: #e0cfcf;
    padding: 0 20px;
    text-align: center;
}

/*background: linear-gradient(to bottom, #100f0f, #05052f)*/

nav{
    width: 100%;
    text-align: right;
    /*display: flex;
    align-items: self-end;
    gap: 15px;*/
}

a{
    font-weight: 500;
    font-size: large;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-radius: 8px;
    padding: 8px;
    transition: 0.2s;
    margin: 20px 10px;
}

a:hover{
    color: black;
    background-color: white;
    border-bottom: 1px solid green;
}


@media (max-width: 720px) {

    .header{
        background-position: center center;
    }
    
    a{
        display: none;
    }
}