
/*Parte total do Serviços*/
.warraper-services{
    width: 100%;
    height: auto;
    padding: 20px;
}

/*Textos iniciais*/

.h1-services{
    text-align: center;
    font-weight: lighter;
    font-size: xx-large;
    border-bottom: 1px solid white;
    padding: 5px;
}

.p-services{
    font-weight: lighter;
    text-align: center;
}

.a-Service{
    text-align: center;
    min-width: 200px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid white;
    position: absolute;

    top: 83%;
}

.text-alternative{
    color: black;
}

/*Cardes dos Serviços*/

.card-services{
    color: white;
    max-width: 450px;
    min-width: 350px;
    height: auto;
    background-color: black;
    padding: 2rem;

    /*cor verde Fundo #008000d7*/

    display: flex;
    align-items: center;
    justify-content: center;
}

.general-service{
    position: relative;
    display: flex;
    gap: 1rem;
    margin: 3rem 0;
}

.card{
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/*Icones dos Serviços*/

.service-icon{
    align-self: center;
    width: 150px;
    height: auto;
}

.arrow-next{
    display: none;
}

@media (max-width: 920px){
    .general-service{
        overflow-x: scroll;
    }

    .arrow-next{
        display: block;
        position: absolute;
        top: 93%;
        left: 40%;
        width: 30px;
        height: 30px;
    }

    .a-Service{
        display: block;
        top: 80%;
    }
}